
<ng-template #loading>
    <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
        <div fxFlex>
            <mat-spinner></mat-spinner>
        </div>
    </div>
</ng-template>


<ng-container *ngIf="user; else loading; let user">

    <div class="header">
        <div class="title">
            Detalhes do usuário
        </div>
    </div>
    
    <!-- <h2 mat-dialog-title>Install Angular</h2> -->
    <mat-dialog-content class="mat-typography">
     
        <div class="grid">
            <div class="row">
                <div class="col s-12">
                    <h3>Nome</h3>
                    <p>{{ user?.name }}</p>
                </div>
            </div>
           
            <div class="row">
                <div class="col s-12">
                    <h3>Email</h3>
                    <p>{{ user?.email }}</p>
                </div>
            </div>

            
            <div class="row">
                <div class="col s-6 left">
                    <h3>Registrado em</h3>
                    <p>{{ user.created_at | date: 'dd/MM/yyyy' }}</p>
                </div>
                <div class="col s-6 right">
                    <h3>Atualizado em</h3>
                    <p>{{ user.updated_at | date: 'dd/MM/yyyy' }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col s-12">
                    <h3>Status</h3>
                    <p>{{ user?.status == 1 ? 'Ativo' : 'Desativado' }}</p>
                </div>
            </div>

        </div>
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-flat-button (click)="closeModal(null)">Voltar</button>
    </mat-dialog-actions>

</ng-container>